@use "../base/breakpoints" as *;

.competitors {
  background-repeat: no-repeat;
  padding-bottom: 10rem;

  @include breakpoint(sm-tablet) {
    padding-bottom: 0rem;
  }

  .container {
    @include breakpoint(sm-tablet) {
      padding: 2rem 0;
      margin: 0;
      max-width: fit-content;
    }
  }
}
